@model KurumsalProje.Models.Hakkimizda

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Bu kaydı silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class=" dl-horizontal">
        

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="col-md-offset-1 no-color">
        @Html.ActionLink("Geri Dön", "Index")
        <input type="submit" value="Sil" class="btn btn-default" /> 
    </div>
    }
</div>
